# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment files
.env
*.env

# Serialized files
*.pkl
*.joblib

# Log files
*.log

# IDE/editor files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Results/output data
data/results/
